doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Drop Rates - Prime Hunter

    link(href="/public/css/bootstrap-3.3.2.min.css", rel="stylesheet")
    link(href="/public/css/prime.css", rel="stylesheet")
    
    if isprod
      script(src="/public/js/ga.js")
  body
    
    include navbar.jade
    
    div.jumbotron
      div.container
        div.row
          div.col-lg-8.col-md-8.col-sm-12
            h1 Drop Rates
            p Calculated drop rates.
    
    div.container
      div.row
        div.col-lg-12.col-md-12.col-sm-12
          div.alert.alert-info
            p Updated every 10 minutes.
      div.row
        div.col-lg-12.col-md-12.col-sm-12
          label(for="game-version") Game Version
          select#game-version.form-control
            option(value="16.1.5" selected) 16.1.5
            option(value="16.1.4") 16.1.4
            option(value="16.1.3") 16.1.3
            option(value="16.1.2") 16.1.2
            option(value="16.1.1") 16.1.1
            option(value="16.0.4") 16.0.4
            option(value="16.0.3") 16.0.3
            option(value="16.0.2") 16.0.2
            option(value="16.0.1") 16.0.1
            option(value="16.0.0") 16.0.0
            option(value="15.16.2") 15.16.2
            option(value="15.16.1") 15.16.1
            option(value="15.16.0") 15.16.0
            option(value="15.15.1") 15.15.1
            option(value="15.15.0") 15.15.0
            option(value="15.14.1") 15.14.1
            option(value="15.14.0") 15.14.0
            option(value="15.13.8") 15.13.8
            option(value="15.13.7") 15.13.7
            option(value="15.13.6") 15.13.6
            option(value="15.13.5") 15.13.5
            option(value="15.13.4") 15.13.4
            option(value="15.13.3") 15.13.3
            option(value="15.13.2") 15.13.2
            option(value="15.13.1") 15.13.1
            option(value="15.13.0") 15.13.0
            option(value="15.12.3") 15.12.3
            option(value="15.12.2") 15.12.2
            option(value="15.12.0") 15.12.0
            option(value="15.11.2") 15.11.2
            option(value="15.11.1") 15.11.1
            option(value="15.11.0") 15.11.0
            option(value="15.10.2") 15.10.2
            option(value="15.10.1") 15.10.1
            option(value="15.10.0") 15.10.0
      
      div.row
        div.col-lg-12.col-md-12.col-sm-12
          button#load-t1-data.btn.btn-primary Load T1 Data
      div.row
        div#t1dataholder.col-lg-12.col-md-12.col-sm-12
      div.row
        div.col-lg-12.col-md-12.col-sm-12
          button#load-t2-data.btn.btn-primary Load T2 Data
      div.row
        div#t2dataholder.col-lg-12.col-md-12.col-sm-12
      div.row
        div.col-lg-12.col-md-12.col-sm-12
          button#load-t3-data.btn.btn-primary Load T3 Data
      div.row
        div#t3dataholder.col-lg-12.col-md-12.col-sm-12
      div.row
        div.col-lg-12.col-md-12.col-sm-12
          button#load-t4-data.btn.btn-primary Load T4 Data
      div.row
        div#t4dataholder.col-lg-12.col-md-12.col-sm-12
      div.row
        div.col-lg-12.col-md-12.col-sm-12
          button#load-od-data.btn.btn-primary Load Orokin Derelict Data
      div.row
        div#oddataholder.col-lg-12.col-md-12.col-sm-12
    
              
    include footer.jade
    
    script(src="/public/js/jquery-2.1.3.min.js")
    script(src="/public/js/jquery.toaster.js")
    script(src="/public/js/bootstrap-3.3.2.min.js")
    script(src="/public/js/PHitems.js")
    script(src="/public/js/droprates.js")
    script(src="/public/js/feedback.js")
    