footer
  div.container
    div.row
      div.col-lg-12
        p 
          a(href="https://github.com/dfilipidisz/wf-prime-hunter") Source on GitHub 
          | | 
          a(href="http://steampowered.com") Powered by Steam
          | | 
          a(href="http://warframe.wikia.com") Powered by Warframe Wiki