footer
  div.container
    div.row
      div.col-lg-12
        //
          p footer. all rights is at DE. thanks to: wiki. source of info: wiki/forum. privacy policy, terms of use, feedback
        p 
          a(href="#") Source on GitHub 
          | | 
          a(href="#") Contact 
          | | 
          a(href="http://steampowered.com") Powered by Steam
          | | 
          a(href="http://warframe.wikia.com") Powered by Warframe Wiki