doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title History - Prime Hunter

    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/public/css/prime.css", rel="stylesheet")
    
    if isprod
      script(src="/public/js/ga.js")
  body
    
    include navbar.jade
    
    div.jumbotron
      div.container
        div.row
          div.col-lg-8.col-md-8.col-sm-8
            h1 History
            p You can see your farming history here. 
                        
    div.container
      div.row
        div#history-holder.col-lg-12.col-md-12.col-sm-12
              
    include footer.jade
    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/public/js/jquery.toaster.js")
    script(src="/public/js/feedback.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/moment/moment.js")
    script(src="/public/js/PHitems.js")
    script(src="/public/js/react-with-addons.min.js")
    script(src="/public/js/JSXTransformer.js")
    script(src="/public/react/History.jsx" type="text/jsx")
    