doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Prime Hunter

    link(href="/public/css/bootstrap-3.3.1.min.css", rel="stylesheet")
    link(href="/public/css/prime.css", rel="stylesheet")

  body
    
    include navbar.jade
    
    div.jumbotron
      div.container
        div.row
          div.col-lg-6.col-md-6.col-sm-6
            h1 Prime Hunter
            p Help Clem make sense of the drop rates in the Void.
          div.col-lg-2.col-lg-offset-3.col-md-2.col-md-offset-3.col-sm-2.col-sm-offset-3
            img(src="/public/img/lotus-icon.png").img-responsive
    
    div.container
      div.row
        div.col-lg-4.col-md-4.col-sm-4
          div.step
            span 1
          p.step-text 
            strong Step 1: 
            | Login with your Steam account. This is only needed to help us persist your efforts between devices. No personal information is collected or accessed during or after login.
        div.col-lg-4.col-md-4.col-sm-4
          div.step
            span 2
          p.step-text 
            strong Step 2: 
            | Record your runs. Enter what reward did you get while farming.
        div.col-lg-4.col-md-4.col-sm-4
          div.step
            span 3
          p.step-text 
            strong Step 3:  
            | Check out the calculated drop rates, based on the collective efforts of the Tenno!
    
    include footer.jade
      
    script(src="/public/js/jquery-2.1.3.min.js")
    script(src="/public/js/bootstrap-3.3.1.min.js")



