nav.navbar.navbar-inverse.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button(type="button", data-toggle="collapse", data-target="#prime-hunter-navbar").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/").navbar-brand Prime Hunter
      
    div.collapse.navbar-collapse#prime-hunter-navbar
      ul.nav.navbar-nav
        if (activeMenu === "homepage")
          li.active
            a(href="/") Homepage
        else
          li
            a(href="/") Homepage
        li.dropdown
          a(href="#" data-toggle="dropdown").dropdown-toggle Drop Rates
            span.caret
            ul.dropdown-menu
              if (activeMenu === "droprates")
                li.active 
                  a(href="/drop-rates") Prime Part Drop Rates
              else
                li 
                  a(href="/drop-rates") Prime Part Drop Rates
              if (activeMenu === "droprates-keypack")
                li.active 
                  a(href="/drop-rates-key-pack") Void Key Pack Drop Rates
              else
                li 
                  a(href="/drop-rates-key-pack") Void Key Pack Drop Rates
        li.dropdown
          a(href="#" data-toggle="dropdown").dropdown-toggle Record
            span.caret
            ul.dropdown-menu
              if (activeMenu === "record")
                  li.active 
                    a(href="/record") Record Void Run
                else
                  li
                    a(href="/record") Record Void Run
              if (activeMenu === "record-keypack")
                  li.active 
                    a(href="/record-keypack") Record Void Key Pack
                else
                  li
                    a(href="/record-keypack") Record Void Key Pack
        if (user)
          if (activeMenu === "history")
            li.active 
              a(href="/history") My history
          else
            li 
              a(href="/history") My history
        //
          if (activeMenu === "devtracker")
            li.active
              a(href="/dev-tracker") Dev Post Tracker
          else
            li
              a(href="/dev-tracker") Dev Post Tracker
      ul.nav.navbar-nav.navbar-right
        if (user)
          li
            a(href="/account") Welcome back, #{user.steamid}
          li
            a(href="/logout") Logout
        else
          li
            a(href="/auth/steam") 
              img(src="/public/img/sits_small.png" width="154" height="23" alt="Sign in through Steam")
          
                