body {
  margin-top: 50px;
}

.center-text {
  text-align: center;
}

.footer {
  margin-bottom: 0;
  margin-top: 20px;
}

div.row {
  margin-bottom: 20px;
}

.missions button,
.single-rewards button,
.multiple-reward-button {
  margin-bottom: 10px;
}

.step {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 20px solid #333;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.step span {
  position: relative;
  top: 11%;
  transform: translateY(-50%);
  font-size: 90px;
  font-weight: bold;
}

.step-text {
  font-size: 18px;
  padding: 0 20px;
  text-align: justify;
}

footer {
  background-color: #eee;
  width: 100%;
  margin-top: 20px;
  padding: 40px 0;
}

.report-widget {
  width: 145px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: rgba(0,0,0, 0.2);
  padding: 10px;
}

.random-key-chooser {
  text-align: center;
}

.keypack-heading {
  text-align: center;
}

#tier-canvas {
  float: right;
}

.tier-legend-holder,
.mission-legend-holder {
  float: left;
}

.tier-legend-holder ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 30px;
}

.mission-legend-holder ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 30px;
}

.tier-legend-holder ul li,
.mission-legend-holder ul li {
  line-height: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.tier-legend-holder ul li span,
.mission-legend-holder ul li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: -5px;
}

/* Dev tracker css */
#dev-post-list {
  list-style-type: none;
  padding: 0;
}

#dev-post-list li {
  border: 1px solid #999;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 2px;
  position: relative;
  padding-right: 200px;
  min-height: 210px;
}

.dev-post-title {
  padding: 10px;
  border-bottom: 1px solid #999;
}

.dev-post-title a {
  font-weight: bold;
}

.dev-post {
  padding: 10px;
}

.dev-post img {
  width: 100%;
}

.dev-profile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  border-left: 1px solid #999;
  padding: 10px;
  text-align: center;
}

.dev-profile a {
  font-weight: bold;
}

.dev-profile img {
  margin: 10px auto;
  display: block;
}

#dev-post-list p {
  margin: 0;
}

#dev-post-list li br {
  display: none;
}

.filter-options {
  border: 1px solid #999;
  background-color: white;
  border-radius: 2px;
  margin: 20px 0;
  padding: 10px;
}

/*Make sure button text is not overflowing*/
@media (min-width: 768px) and (max-width: 992px) {
  .btn {
    font-size: 14px !important; 
  }
}